{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "semi": "off",
    "no-console": "off",
    "no-multiple-empty-lines": "off",
    "no-unused-vars": "warn"
  }
}